*.o

quest17_bin/executables/

bin/closedome
bin/date_to_time
bin/domestatus
bin/disable_telescope
bin/enable_telescope
bin/get_riset
bin/getfilter
bin/getfocus
bin/mountctl
bin/opendome_raw
bin/parse_meteo
bin/questctl
bin/setfocus
bin/slavedome
bin/slavewindscr
bin/stow_telescope
bin/sunup
bin/tcs_talk
bin/telescope_status
bin/weather

prog/closedome
prog/disable_telescope
prog/dome_status
prog/enable_telecope
prog/get_riset
prog/getfilter
prog/getfocus
prog/mountctl
prog/opendome_raw
prog/questctl
prog/setfocus
prog/slavedome
prog/slavewindscr
prog/stow_telescope
prog/sunup
prog/test
prog/weather

tcs_talk/get_status

util/date_to_time
util/tcs_test

util/old_tcs_talk/get_status

util/weather_srv/date_to_time

.DS_Store
